<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="login-form">
		<h1>Login</h1>
		<form>
			<input type="text" id="usuario" name="usuario" placeholder="User" autofocus required>
			<input type="password" id="contraseña" name="contraseña" placeholder="Password" required>
			
		</form>
		<input class="btn-login" type="button" onclick="javascript:entrar();" value="entrar"/>
		

	</div>
</body>



<script>
	function entrar() {
		let usuario = document.getElementById("usuario").value;
		let contraseña = document.getElementById("contraseña").value;
	
		if (usuario === "admin" && contraseña === "admin5000") {
			location.href = "/admin";
		}
		else{
			alert('la contraseña es incorrecta');
		}
	}
	 
</script>
</html>